body,
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
}
.pizza-img{
	margin: 0 auto;
}
.pizza-title{
	text-transform: uppercase;
	text-align: center;
    font-weight: 700;
    color: #5f91c3;
}
.pizza-box{
	margin-bottom:40px;
}
.desc{
	min-height: 60px;
}
.price{
	margin-left:10px;
	font-size:18px;
	font-weight: bold;
	color:#5ea9de;
}
.remove span{
	float:right;
}
.ordersTotal{
	background-color:#f0f0f0;
	padding-bottom:30px;
}